[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

speedtest-cli = "*"
influxdb = "*"
humanfriendly = "*"
pendulum = "*"
"jinja2" = "*"


[dev-packages]

