[Unit]
Description=Chronograf

[Service]
ExecStart=/opt/chronograf-1.6.2-1/usr/bin/chronograf --influxdb-url=http://localhost:8086
User=chronograf
WorkingDirectory=/var/lib/chronograf

[Install]
WantedBy=multi-user.target
